body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Verdana", sans-serif;
    font-size: 16px;
    color: white;
    
}
.site-wrapper {
    margin: 0;
    padding:0;
    background-position: top center;
    background-repeat: no-repeat;
}
.btn {
    text-decoration: none;
    color: white;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    background-color: #ffffff;
    background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
    cursor: pointer;
}
body > input[type="radio"] {
    display: none;
}
.container {
    margin: 0 auto;
    padding:0 20px;
    width: 860px;
}
.main-header {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.header-left {
    display: flex;
    margin-top: 5px;
    width: 530px;
}
.main-nav {
    margin-top:0px;
    margin-left: auto;
}
.main-nav > ul {
    font-size: 0px;
    width: 375px;
}
.main-nav li {
    margin: 0;
    margin-left: -30px;
    margin-right: 30px;
    padding: 0;
    list-style: none;
}
.main-nav > ul > li {
    display: inline-block;
    position: relative;
}
.main-nav > ul > li:after {
    content: "";
    position: absolute;
    right: 13px;
    bottom: 7px;
    left: 13px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.main-nav a {
    margin-top: 10px;
    padding: 10px 13px;
    display: block;
    font-size: 16px;
    color: white;
    text-decoration: none;
    text-align: center;
}
.main-nav a:hover {
    color: #333333;
    background-color: white;
}
.main-nav > ul > li > a  {
    border-radius: 26px;
}
.main-nav > ul > li > a:active {
    box-shadow: inset 0 2px 1px #696969;
    background-color: #ededed;
    background-color: rgba(248, 247, 244, 0.99);
}
.subnav {
    margin: 0;
    padding: 0;
    position: relatve;
}
.subnav ul a {
    color: #333333;
}
.subnav-hidden {
    display: block;
    margin: 0;
    padding: 0;
    position: absolute;
    left: -5px;
    width: 143px;
    background-color: white;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    background-color: #f8f7f4;
}
.subnav:hover .subnav-hidden {
    display: block;
}
.subnav-hidden li {
    margin: 0;
    padding: 0;
    width: 100%;
    
}
.subnav-hidden li:first-child {
    position: relative;
    font-weight: 700;
}
.subnav-hidden li:first-child::after {
    position: ablolute;
    bottom:0;
    left: 6px;
    right: 9px;
    display: block;
    content: " ";
    border-bottom: 1px solid rgba(50,50,50,0.2);
}
.subnav-hidden a {
    margin-top: 0px;
    margin-left: 0px;
    padding-left: 18px;
    padding-right: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    white-space: nowrap;
}
.subnav-hidden a:hover {
    background-color: #fbded7;
}
.subnav-hidden a:active {
    background-color: #f6b5a5;
}
.header-right {
    width: 262px;
}
.header-right-menu {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.header-right-menu li {
    position: relative;
}
.form-hidden1 {
    position: absolute;
    padding: 20px;
    padding-left: 17px;
    padding-right: 18px;
    background-color: lightyellow;
    border-radius: 5px;
}
.form-hidden1 input[type="submit"] {
    display: block;
    margin-top: -55px;
    margin-left: 300px;
    margin-right: 0px;
    margin-bottom: 20px;
    padding-right: 0px;
    font-size: 0px;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    cursor: pointer;
}
.form-hidden1 input[type="search"] {
    padding: 11px;
    padding-left: 10px;
    padding-right: 10px;
    width: 310px;
}
.header-right-menu .header-btn {
    position: relative;
    margin-top: 20px;
    padding: 8px;
    display: block;
    color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-decoration: none;
    background-color: rgba(255,255,255,0.2);
    border-radius: 16px;
}
.header-right-menu .search-btn {
    padding: 0;
    font-size: 0px;
    width: 32px;
    height: 32px;
}
.search-btn::before {
    position: absolute;
    top: 6px;
    left: 7px;
    display: block;
    content: " ";
    background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat;
    width: 17px;
    height: 17px;
    background-position: -5px -437px;
}
.header-right-menu .header-login-btn {
    padding-left: 44px;
    padding-right: 16px;
}
.header-login-btn::before {
    position: absolute;
    top: 6px;
    left: 15px;
    display: block;
    content: " ";
    background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat;
    width: 21px;
    height: 19px;
    background-position: -5px -65px;
}
.header-right-menu .basket-empty-btn {
    padding-left: 45px;
    padding-right: 34px;
}
.basket-empty-btn::before {
    position: absolute;
    top: 6px;
    left: 15px;
    display: block;
    content: " ";
    background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat;
    width: 21px;
    height: 20px;
    background-position: -5px -5px;
}
.form-hidden {
    display: none;
}
.schedule {
    margin-top: 20px;
    text-align: right;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
}
.tel {
    text-align: right;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
}
.basket-hidden {
    display: none;
}
.slider {
    position: relative;
    min-height: 510px;
}
.slider-title {
    padding-top: 277px;
    margin-left: auto;
    margin-right: auto;
    width: 670px;
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
}
.slider-1, .slider-2, .slider-3 {
    display: none;
}
.slider-purchase-btn {
    display: inline-block;
    margin-top: 30px;
    margin-left: 290px;
    padding-top:10px;
    padding-bottom: 12px;
    padding-left:40px;
    padding-right:45px;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    border-radius: 31px;
}
.slider ul {
    margin:0;
    padding:0;
    position: absolute;
    top: 447px;
    display: flex;
    justify-content: space-between;
    width: 80px;
}
.slider li {
    list-style: none;
}
.slider-btn {
    display: block;
    width: 19px;
    height: 19px;
    font-size: 0px;
    background-color: inherit;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
}
#slider-radio-1:checked ~ .site-wrapper {
    background-color: #849d8f;
    background-image: url("../img/slider1.png");
}
#slider-radio-2:checked ~ .site-wrapper {
    background-color: #8996a6;
    background-image: url("../img/slider2.png");
}
#slider-radio-3:checked ~ .site-wrapper {
    background-color: #9d8b84;
    background-image: url("../img/slider3.png");
}
#slider-radio-1:checked ~ .site-wrapper .slider-btn-1,
#slider-radio-2:checked ~ .site-wrapper .slider-btn-2,
#slider-radio-3:checked ~ .site-wrapper .slider-btn-3 {
    background-color: white;
}
#slider-radio-1:checked ~ .site-wrapper .slider-1,
#slider-radio-2:checked ~ .site-wrapper .slider-2,
#slider-radio-3:checked ~ .site-wrapper .slider-3 {
    display: block;
}
.bonus {
    display: flex;
    justify-content: space-between;
}
.bonus-left, .bonus-right {
    margin-top: 20px;
    width: 420px;
    min-height: 233px;
    border-radius: 10px;    
}
.bonus-left h2, .bonus-right h2 {
    margin-top: 20px;
    margin-bottom: 12px;
    padding-left: 20px;
    font-size: 35px;
    font-weight: 700;
    line-height: 41px;
}
.bonus-left p, .bonus-right p {
    margin-top: 0px;
    margin-bottom: 25px;
    padding-left: 20px;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
}
.bonus-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    border-radius: 22px;
}
.bonus-left .bonus-btn {
    margin-left:240px;
}
.bonus-right .bonus-btn {
    margin-left:210px;
}
.bonus-left {
    background: #7f0c33;
    background-image: url("../img/bonus-raspberry-background.jpg");
    background-repeat: no-repeat;
}
.bonus-right {
    background: #4d280f;
    background-image: url("../img/bonus-chocolate-background.jpg");
    background-repeat: no-repeat;
}
.gallery-container {
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 860px;
}
.gallery-item {
    position: relative;
    margin-top: 35px;
    width: 200px;
}
.item-icon {
    display: block;
    border-radius: 100px;
}
.hit::before {
    position: absolute;
    display:block;
    content: " ";
    width: 61px;
    height: 61px;
    background-image: url("../img/hit.png");
}
.item-title {
    margin-top: -55px;
    font-weight: 700;
    line-height: 45px;
    font-size: 45px;
}
.measure {
    font-size: 30px;
}
.item-description {
    margin-top: 22px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}
.underline {
    margin-top: -2px;
    border-bottom: 1px solid rgba(255,255,255,0.4);
}
.item-btn {
    display: none;
}
.main-gallery {
    margin-top: -5px;
}
.features {
    margin-top: 35px;
    color: #323232;
    border-radius: 10px;
    background: #ecdcbc;
    background-image: url("../img/features-pattern.jpg");
}
.features h2 {
    padding-top:23px;
    padding-left:20px;
    padding-right: 20px;
    margin-bottom: 7px;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;;
}
.features-flex-container {
    padding: 0 20px;
    padding-bottom: 23px;
    display: flex;
    
    justify-content: space-between;
    flex-wrap: wrap;
}
.features-item {
    position: relative;
    width: 400px;
}
.features-icon {
    display:block;
    content: " ";
    position: absolute;
    top: 2px;
}
.features-item p {
    margin-left: 55px;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    
    
}
.features-icon {
    position: absolute;
}
.news  {
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
}
.news-blog, .news-subscription {
    margin-top: 38px;
    width: 420px;
    height: 220px;
    border-radius: 10px;
}
.news-blog {
    background: white;
    background-image: url("../img/blog.jpg");
    background-repeat: no-repeat;
    background-position: -138px 0px;
}
.news-blog h2 {
    margin-top: 23px;
    margin-left: 20px;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: #5a5a5a;
}
.news-blog a {
    margin-left: 20px;
    display: block;
    width: 300px;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    color: #353535;
}
.news-subscription {
    position: relative;
    background: #f9f7f5;
    background-image: url("../img/submit-border-pattern.jpg");
}
.news-subscription::before {
    margin-top: 5px;
    margin-left: 5px;
    display: block;
    content: " ";
    width: 410px;
    height: 210px;
    border-radius: 10px;
    background: #f9f7f5;
}
.news-subscription p {
    position: absolute;
    margin-top: -180px;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #5a5a5a;
}
.subscription-form {
    position: absolute;
    top: 120px;
    margin-top: 15px;
    margin-left: 25px;
}
.subscription-form input[type="email"] {
    margin-right: 10px;
    padding: 8px;
    padding-left: 15px;
    width: 203px;
    color: #999999;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.subscription-form input[type="submit"] {
    display: inline-block;
    padding: 12px 15px;
    padding-right: 20px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 22px;
}
.location {
    margin-top:-2px;
}
.map {
    margin: 0 auto;
    padding:0px;
    width: 900px;
    background: url("../img/pin.png") no-repeat 185px 140px,
                url("../img/map.jpg") no-repeat;
}
.map .container {
    min-height: 435px;
}
.location-address {
    margin-top: 20px;
    margin-left: 560px;
    width: 300px;
    color: #323232;
    background-color: white;
    border-radius: 10px;
}
.location-address p:first-child {
    padding-top: 30px;
    padding-left: 25px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.location-address p:first-child strong {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}
.location-address p:nth-child(2) {
    padding-left: 25px;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.location-address p:nth-child(3) {
    margin-top: 5px;
    margin-bottom: 0px;
    padding-left: 25px;
    line-height: 22px;
    font-size: 18px;
    font-weight: 700;
}
.location-address p:nth-child(4) {
    margin-top: 3px;
    margin-bottom: 20px;
    padding-left: 25px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}
.location-btn {
    display:inline-block;
    margin-left: 25px;
    margin-bottom: 35px;
    padding: 10px 25px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    border-radius: 22px;
}
.breadcrumbs {
    margin-top: -17px;
    margin-right: 260px;
}
.breadcrumbs ul {
    margin: 0;
    padding: 0;
}
.breadcrumbs li {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}
.main-catalog {
    margin-top: -20px;
}
.main-catalog h1 {
    font-size: 35px;
    font-weight: 700;
    line-height: 41px;
}
.main-catalog form {
    font-size: 0px;
    min-height: 135px;
}
.form-block {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 20px;
    vertical-align: top;
}
.form-block label {
    display: block;
}
.form-block  label, .form-block h2 {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}
.sorting {
    margin-top:0px;
    width: 195px;
}
.price {
    width: 220px;
}
.fatcontent-container {
    display:flex;
    width: 400px;
    justify-content: space-between;
}
.fatcontent h2 {
    margin-top: 0;
    padding-top: 0;
}
.filler-container {
    display: flex;
    width: 700px;
    justify-content: space-between;
}

.gallery-paginator {
    display: flex;
    margin-top: 80px;
    margin-left: auto;
    margin-bottom: 30px;
    width: 190px;
    min-height: 25px;
}
.main-footer .container {
    display: flex;
    justify-content: space-between;
}
.main-catalog .submit-btn {
    margin-top: 30px;
}
.footer-social {
    display: flex;
    justify-content: space-between;
    width: 185px;
}
.footer-btn {
    margin-top: 30px;
    width: 32px;
    height: 32px;
    font-size: 0px;
    border: 3px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    
}
.footer-social .tw-btn {
    background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat;
    background-position: -5px -464px;
}
.footer-social .inst-btn {
    background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat;
    background-position: -5px -395px;
}
.footer-social .fb-btn {
    background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat;
    background-position: -5px -94px;
}
.footer-social .vk-btn {
    background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat;
    background-position: -5px -506px;
}
.footer-menu {
    display: flex;
    justify-content: space-between;
    width: 305px;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
}
.footer-menu a {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid rgba(255,255,255,0.4);
}
.footer-menu  .bold{
    position: relative;
    font-weight: 700;
}
.footer-menu .bold::before {
    position: absolute;
    left: -20px;
    top: 3px;
    display: block;
    content: " ";
    width: 15px;
    height: 13px;
    background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat;
    background-position: -5px -372px;
}
.footer-menu ul {
    margin-top: 30px;
    padding-left: 0px;
}
.footer-menu li {
    display: block;
}
.copyright {
    width: 190px;
}
.footer-logo {
    display: block;
    margin-top: 15px;
    margin-bottom: -10px;
}
.copyright p {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;;
}

/*======================================
 Системное оформление - не изменять
=======================================*/

body {
  padding: 3px;
}

body > *,
body > * > *,
body > * > * > * {
  position: relative;
}

body > *::before,
body > * > *::before,
body > * > * > *::before {
  content: "";
  position: absolute;

  height: 24px;
  padding: 2px 5px;

  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  font-family: "Courier New", monotype;
  white-space: nowrap;
}

body > *::before {
  top: -3px;
  left: -3px;
}

body > * > *::before {
  top: -3px;
  left: -3px;
}

body > * > * > *::before {
  top: 0;
  left: 0;
}

body > * {
  background: rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 3px green;
}

body > *::before {
  color: white;

  background: green;
}

body > * > * {
  background: rgba(255, 45, 82, 0.2);
  box-shadow: 0 0 0 3px rgb(255, 45, 82);
}

body > * > *::before {
  color: white;

  background: rgb(255, 45, 82);
}

body > * > * > * {
  background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);

}

body > * > * > *::before {
  color: black;

  background: rgb(234, 255, 45);
}

.main-header::before {
  content: ".main-header";
}

.container::before {
  content: ".container";
}

.main-header .container::before {
  top: auto;
  bottom: -28px;
}

.main-navigation::before {
  content: ".main-navigation";
}

.user-block::before {
  content: ".user-block";
}